.clear-stickers-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: var(--border-radius-md);
  color: var(--text-body);
  transition: background-color 0.3s;
  font-size: 1.5rem; /* Para que el emoji se vea bien */
  line-height: 1; /* Para alinear el emoji verticalmente */
}

.clear-stickers-button:hover {
  background-color: var(--bg-dark);
}
