.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  margin: 0 auto;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  align-items: flex-start;
  padding: 1.5rem;
}

.header-nav {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  justify-self: flex-start;
}

.header-nav-link {
  font-size: 1.125rem;
  color: var(--text-title);
  text-transform: uppercase;
  border-radius: var(--border-radius-full);
  padding: 0.5rem 1rem;
  transition: all 0.3s;
}

.header-nav-link:hover {
  background-color: var(--bg-dark);
  color: var(--text-inverse);
}

.header-logo-link {
  justify-self: center;
}

.header-logo {
  height: auto;
  width: auto;
}

.header-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 1rem;
}

.header-right-nav {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  justify-self: flex-start;
}

.header-theme-toggle {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  justify-self: flex-start;
}
