.header-detail {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--bg-dark);
  color: var(--text-inverse);

  --logo-primary: var(--logo-primary-inverse);
  --logo-secondary: var(--logo-secondary-inverse);
}

.header-detail-logo-link {
  display: flex;
  align-items: center;
}

.header-detail-logo {
  width: 5rem;
  height: auto;
}

.header-detail-right {
  display: flex;
  align-items: center;
}

.header-detail-theme-toggle {
  margin-left: 1rem;
}
