.theme-toggle {
  padding: 0.5rem;
  border-radius: var(--border-radius-md);
  color: var(--color-text-base);
  transition: background-color 0.3s;
}

.theme-toggle:hover {
  background-color: var(--color-secondary);
}

.theme-toggle-icon {
  height: 1.5rem;
  width: 1.5rem;
}
