---
import type { CommunityMetadataProps } from '../../types/community'

export interface Props extends CommunityMetadataProps {}

const { technologies, meetingFrequency } = Astro.props
---

<div class="community-metadata">
  {
    technologies && technologies.length > 0 && (
      <div class="community-tech">
        <h3>Tecnoloxías</h3>
        <div class="tech-tags">
          {technologies.map(tech => (
            <span class="tag tech-tag">{tech}</span>
          ))}
        </div>
      </div>
    )
  }
  {
    meetingFrequency && (
      <div class="meeting-frequency">
        <h3>Frecuencia</h3>
        <p>{meetingFrequency}</p>
      </div>
    )
  }
</div>
