@import url('https://fonts.googleapis.com/css2?family=Gabriela&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import 'tailwindcss';

:root {
  /* Base Color Palette */
  --marian-blue: #1c398e;
  --white: #ffffff;
  --licorice: #230903;
  --ebony: #656256;
  --sandy-brown: #ee964b;
}

[data-theme='light'] {
  /* Light Theme */
  --color-primary: var(--white);
  --color-secondary: var(--sandy-brown);
  --color-accent: var(--marian-blue);
  --color-text-base: var(--licorice);
  --color-text-muted: var(--ebony);
  --color-text-primary: var(--marian-blue);
  --color-text-accent: var(--sandy-brown);
  --color-border: var(--ebony);
  --color-bg-primary: var(--marian-blue);
  --color-bg-secondary: var(--white);
  --color-bg-accent: var(--sandy-brown);
}

[data-theme='dark'] {
  /* Dark Theme */
  --color-primary: var(--licorice);
  --color-secondary: var(--ebony);
  --color-accent: var(--sandy-brown);
  --color-text-base: var(--white);
  --color-text-muted: var(--ebony);
  --color-text-primary: var(--sandy-brown);
  --color-text-accent: var(--marian-blue);
  --color-border: var(--ebony);
  --color-bg-primary: var(--sandy-brown);
  --color-bg-secondary: var(---marian-blue);
  --color-bg-accent: var(--marian-blue);
}

@theme {
  --color-primary: var(--white);
  --color-secondary: var(--sandy-brown);
  --color-accent: var(--marian-blue);
  --color-text-base: var(--licorice);
  --color-text-muted: var(--ebony);
  --color-border: var(--ebony);
  --color-bg-primary: var(--marian-blue);
  --color-bg-secondary: var(--white);
  --color-bg-accent: var(--sandy-brown);

  --font-sans: 'Ubuntu', sans-serif;
  --font-display: 'Gabriela', serif;

  /* Shadows */
  --shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);

  /* Border Radius */
  --border-radius-md: 0.375rem;
  --border-radius-lg: 0.5rem;
  --border-radius-full: 9999px;
}

.link-effect {
  color: var(--color-text-accent);
  text-decoration: none;
  position: relative;
  z-index: 1;
  padding: 3px;
  margin: -3px;
  background: linear-gradient(
      to right,
      var(--color-text-accent),
      var(--color-text-accent)
    )
    no-repeat right;
  background-size: 0% auto;
  transition: background-size 0.3s, background-position 0s;
}

.link-effect:hover {
  background-size: 100% auto;
  background-position: left;
}

.link-effect span {
  mix-blend-mode: difference;
}
