---
import type { CollectionEntry } from 'astro:content'
import '../styles/components/CommunitySimpleCard.css'

type Props = {
  community: CollectionEntry<'communities'>
}

const { community } = Astro.props
const { name, logo } = community.data
const slug = community.id.replace(/\.yaml$/, '')
---

<a href={`/communities/${slug}`} class="community-card">
  <img src={logo} alt="" class="community-card-logo" />
  <h3 class="community-card-name">{name}</h3>
</a>
