---
import { getCollection } from 'astro:content'
import '../styles/components/CursorFollower.css'

const communities = await getCollection('communities')
const communityLogos = communities.map(community => community.data.logo)
---

<div id="cursor-follower" class="cursor-follower">
  <span class="cursor-text">click</span>
</div>

<script define:vars={{ communityLogos }}>
  import { initializeCursorFollower } from '../utils/cursor-follower-utils'

  document.addEventListener('DOMContentLoaded', () => {
    initializeCursorFollower(communityLogos)
  })
</script>
