---
import '../styles/components/Footer.css'
---

<footer class="site-footer">
  <div class="footer-content">
    <div class="footer-copyright">
      <a
        href="https://github.com/jorgeteixe/corunatech"
        target="_blank"
        rel="noopener noreferrer"
        class="footer-link">Open source, check out the code</a
      >
    </div>

    <div class="footer-credits">
      <div>
        Feito con -`♡´- por <a
          href="https://es.linkedin.com/in/jorge-teixeira-crespo"
          target="_blank"
          rel="noopener noreferrer">Jorge Teixeira</a
        > y
        <a
          href="https://www.linkedin.com/in/andreamaganrey/"
          target="_blank"
          rel="noopener noreferrer">Andrea Magán</a
        >.
      </div>
    </div>
  </div>
</footer>
