---
import { Image } from 'astro:assets'
import corunaTechLogo from '../assets/logo.svg'
import ThemeToggle from './ThemeToggle.astro'
import '../styles/components/HeaderDetail.css'
---

<header class="header-detail">
  <a
    href="/corunatech"
    aria-current="page"
    aria-label="home"
    class="header-detail-logo-link"
  >
    <Image
      src={corunaTechLogo}
      alt="Coruna Tech Logo"
      height={60}
      class="header-detail-logo"
    />
  </a>
  <div class="header-detail-right">
    <div class="header-detail-theme-toggle">
      <ThemeToggle />
    </div>
  </div>
</header>
