---
import '../styles/components/Hero.css'
---

<section class="hero-section">
  <div class="hero-container">
    <h1 class="hero-title">
      O punto de encontro das comunidades tecnolóxicas da Coruña.
    </h1>
  </div>

  <div class="hero-scroll-container">
    <a href="#events" class="hero-scroll-link">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="hero-scroll-icon"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M19 14l-7 7m0 0l-7-7m7 7V3"></path>
      </svg>
    </a>
  </div>
</section>
