---

---

<section
  class="relative flex min-h-screen flex-col items-center justify-center text-center"
>
  <div class="mx-auto w-full px-4 sm:px-6 lg:px-8">
    <h1 class="font-display text-5xl text-accent md:text-7xl">
      O punto de encontro de todas as comunidades tecnolóxicas da Coruña.
    </h1>
  </div>

  <div class="absolute bottom-16 left-0 right-0">
    <a
      href="#events"
      class="mx-auto inline-block animate-bounce rounded-full bg-secondary p-4 text-text-base"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M19 14l-7 7m0 0l-7-7m7 7V3"></path>
      </svg>
    </a>
  </div>
</section>
