---
import { Image } from "astro:assets";
import corunaTechLogo from "../assets/logo.png";
---

<div class="min-h-screen flex flex-col justify-center items-center">
  <Image src={corunaTechLogo} alt="Coruna Tech Logo" height={100} />
</div>
