@import '../global.css';

/* Ocultar el header estándar del BaseLayout cuando usamos DetailLayout */
.header {
  display: none !important;
}

.detail-layout-main {
  width: 100%;
  padding-top: 80px; /* Para dejar espacio para el header fijo */
}
